<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Python Script Test</title>

  <!-- Bootstrap Core CSS -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/assets/admin/layout4/css/layout.css" rel="stylesheet" type="text/css" />

  <!-- Custom Fonts -->
  <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic"
    rel="stylesheet" type="text/css">
  <link href="/static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="/static/css/stylish-portfolio.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <a class="menu-toggle rounded" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a class="js-scroll-trigger" href="#page-top">Python Script Test</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#page-top">Home</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#about">About</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#contact">Contact</a>
      </li>
    </ul>
  </nav>

  <!-- Header -->
  <header class="masthead d-flex">
    <div class="container text-center my-auto">
      <h1 class="mb-1">Python Script Test</h1>
      <h3 class="mb-5">
        <em>Test your python script</em>
      </h3>
      <a class="btn btn-primary btn-xl js-scroll-trigger" href="#choose_file">Go</a>
    </div>
    <div class="overlay"></div>
  </header>

  <!-- Choose_file -->
  <section class="content-section bg-light" id="choose_file" style="padding-top: 5.0rem; padding-bottom: 8.5rem;">
    <div class="container text-center">
      <div class="row">
        <div class="col-lg-7 mx-auto">
          <h2>Upload your script and please test!</h2>
          <p class="lead mb-5"></p>
          <br>
        </div>
      </div>

    </div>
    <form action="/submit" method="POST" enctype="multipart/form-data">
      <div class="row">
        <div class="form-group" style="margin-left: auto; margin-right: auto; width: 400px;">
          <input type="file" class="btn btn-default btn-choose" id="file-upload" name="file" style="width: 330px;" />
          <span class="input-group-btn" style="width: 20%;">
            <button class="btn btn-warning btn-reset" type="button">Reset</button>
          </span>
        </div>

      </div>

      <div class="form-group" style="margin-left: auto;margin-right: auto; width: 400px;">
        <select class="bs-select form-control" name="Test">
          {% for test in Testcases %}
          <option>{{ test.rsplit('.', 1)[0] }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="row">
        <input type="text" class="form-control" name="Name" style="margin-left: auto; margin-right: auto; width: 400px;"
          placeholder='Input your name...' required />
      </div>
      <div class="row" style="margin-top: 50px;margin-bottom: 50px;">
        <button type="submit" class="btn btn-primary" id="but_submit"
          style="margin-left: auto;margin-right: auto;font-size: 25px;" disabled>Submit Script</button>
      </div>
    </form>
  </section>

  <section class="content-section bg-primary text-white text-center" id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-screen-smartphone"></i>
          </span>
          <h4>
            <strong>Responsive</strong>
          </h4>
          <p class="text-faded mb-0">Looks great on any screen size!</p>
        </div>
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-pencil"></i>
          </span>
          <h4>
            <strong>Redesigned</strong>
          </h4>
          <p class="text-faded mb-0">Freshly redesigned for Bootstrap 4.</p>
        </div>
        <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-like"></i>
          </span>
          <h4>
            <strong>Favorited</strong>
          </h4>
          <p class="text-faded mb-0">Millions of users
            <i class="fas fa-heart"></i>
            Python Script Test!</p>
        </div>
        <div class="col-lg-3 col-md-6">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-mustache"></i>
          </span>
          <h4>
            <strong>Question</strong>
          </h4>
          <p class="text-faded mb-0">I mustache you a question...</p>
        </div>
      </div>
    </div>
  </section>


  <!-- Footer -->
  <footer class="footer text-center">
    <div class="container">
      <ul class="list-inline mb-5">
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="#">
            <i class="icon-social-facebook"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="#">
            <i class="icon-social-twitter"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white" href="#">
            <i class="icon-social-github"></i>
          </a>
        </li>
      </ul>
      <p class="text-muted small mb-0">Copyright &copy; Your Website 2019</p>
    </div>
  </footer>

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Bootstrap core JavaScript -->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/assets/admin/pages/scripts/components-dropdowns.js"></script>
  <script type="text/javascript" src="/static/assets/global/plugins/bootstrap-select/bootstrap-select.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="/static/js/stylish-portfolio.min.js"></script>

</body>

<script>
  function bs_input_file() {

    $(".form-group").before(
      function () {
        $("input.btn-choose").change(function () {
          var elem = document.querySelector("#but_submit");
          elem.disabled = false;
        })
        $(this).find("button.btn-reset").click(function () {
          document.getElementById("file-upload").value = "";
        })
        $(this).find('input').css("cursor", "pointer");
        $(this).find('select').css("cursor", "pointer");
      }
    );

  }
  $(function () {
    bs_input_file();
  });
</script>

</html>